{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8"/>
    <title>{ifset title}{include title|striptags} - {/ifset}LlamaShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="icon" href="{$basePath}/img/favicon/favicon.ico" sizes="any"/>
{*    <link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/img/favicon/favicon-180x180.png"/>*}
{*    <link rel="icon" href="{$basePath}/img/favicon/favicon.svg" type="image/svg+xml"/>*}
    <link rel="manifest" href="{plink Homepage:manifest}"/>
    <link rel="stylesheet" href="{$basePath}/css/default.css"/>

    {block head}{/block}
</head>
<body>
<div id="container">

    {ifset navbar}{include navbar}{else}
    {block navbar}
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="text-light, nav-item">
                        <a class="nav-link text-light " href="https://www.blabot.cz/cs/legal">Obchodní podmínky</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                {if $user->isInRole('admin')}
                <ul class="navbar-nav mr-auto">
                    <li class="text-light, nav-item">
                        <a class="nav-link mx-auto text-white" href="{plink :Admin:User:default}">Admin</a>
                    </li>
                </ul>
                {/if}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class=" nav-item">
                        <a n:class="$presenter->isLinkCurrent('Product:*')?text-light-50:text-light, nav-link," href="{plink Product:list}">Přehled produktů</a>
                    </li>
                    {if ! $user->isInRole('guest')}
                    <li class="nav-item">
                        <a n:class="$presenter->isLinkCurrent('Order:*')?text-light-50:text-light, nav-link" href="{plink Order:list}">Objednávky</a>
                    </li>
                    {/if}
                </ul>
            </div>
        </nav>

        <nav class="navbar m-0 navbar-light bg-light pt-2 pb-2 pr-0 row">
            <a class="navbar-brand h4" href="{plink Homepage:default}">Llamashop</a>

            <div class=" col-5 text-right">
                <button class="navbar-toggler border-0 fa-3x" type="button" data-toggle="collapse"
                        data-target="#user-collapse">
                    <span class="fas fa-user-circle"></span>
                </button>
                <ul class="collapse navbar-nav navbar-collapse ml-auto mt-2 my-lg-0 text-right " id="user-collapse">
                    {control cart}
                    {control userLogin}
                </ul>
            </div>
        </nav>
    {/block}
    <div class=container>
        <div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>
        {/ifset}

    {include content}
    </div>
</div>
    {block footer}
            <!-- FOOTER -->
            <footer id="footer" class="fixed-bottom mt-5 bg-primary pt-2 pb-2 pr-0 text-center text-light">
                &copy; Llamaworkers 2022
            </footer>
        {/block}
</body>


{block scripts}
    <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
    <script>
        $(document).ready ( function(){
            if (window.innerHeight < document.getElementById('container').offsetHeight)
            {
                $footer = document.getElementById('footer');
                $footer.classList.remove('fixed-bottom');
                $footer.classList.add('position-sticky');
            }
        });

    </script>
{/block}

{ifset pageScripts}
    {include pageScripts}
{/ifset}

</body>
</html>

