<a href="{plink :Admin:User:edit id => $item->user_id}" class="btn btn-sm btn-outline-primary">upravit</a>

<button type="button" class="btn btn-sm btn-outline-danger btn-delete-user">
    <a href="{plink :Admin:User:delete id => $item->user_id}">
    </a>
    smazat
</button>

