{block title}Objednáváte zboží{/block}

{block content}

<div class="container">


    <div class="row mt-5">
        <div class="col">
            <h2>Objednáváte následující zboží</h2>

            <div class="row d-flex flex-wrap">
            {control cart:checkout}
            </div>
        </div>
    </div>

    <div class="row">

        {control orderForm}

    </div>

</div>

