parameters:
    mailFrom:
        email: 'xname@vse.cz'
        name: 'xname eshop'

    database:
        driver: mysqli
        host: localhost
        username: eshop
        password: DheVscY4Gb8Npyqb
        database: eshop
        charset: utf8mb4

    facebook:
        appId: 'TODO'
        secret: 'TODO'

php:
	date.timezone: Europe/Prague
	error_reporting: E_ALL &~E_USER_WARNING