parameters:
    mailFrom:
        email: 'xname@vse.cz'
        name: 'xname eshop'

    database:
        driver: mysqli
#        host: localhost
#        host: eshop.0x0c.space
        username: root
#        username: eshop
#        password: DheVscY4Gb8Npyqb
        password:
        database: eshop3
        charset: utf8mb4

    facebook:
        appId: '638598523833248'
        secret: 'd4096c4936f93b4d2c2ca3f21d7c6833'

php:
	date.timezone: Europe/Prague
	error_reporting: E_ALL &~E_USER_WARNING