{block head}
    <link rel="stylesheet" href="{$basePath}/css/homepage.css">
{/block}

{block content}

{varType App\Model\Entities\Product[] $featuredProducts}
{varType App\Model\Entities\Category[] $featuredCategories}

{if $isLoggedIn}
    <div class="jumbotron">
        <h1 class="display-4">Vítejte zpátky!</h1>
        <p class="lead">Jsme rádi, že jste našimi zákazníky.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{plink Cart:default}" role="button">Košík</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Moje objednávky</a>
            <a class="btn btn-primary btn-lg" href="{plink Product:list}" role="button">Přehled produktů</a>
        </p>
    </div>
    {else}
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {var $carouselIterator = 0}
            {foreach $featuredProducts as $product}
                {if $product->files}
                    <li data-target="#carousel" data-slide-to="{$carouselIterator++}" class="{if $iterator->first}active{/if}"></li>
                {/if}
            {/foreach}
        </ol>

        <div class="carousel-inner">
            {foreach $featuredProducts as $product}
                {if $product->files}
                    <div class="carousel-item {if $iterator->first}active{/if}">
                        <img class="first-slide" src="{$basePath}/{$product->files[0]->getRelativePath()}" alt="First slide">
                        <div class="container">
                            <div class="carousel-caption text-left">
                                <h1>{$product->title}</h1>
                                <p>{$product->description|truncate:250}</p>
                                <p>
                                    <a class="btn btn-lg btn-primary" href="{plink Product:show $product->url}" role="button">Více</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {/if}
            {/foreach}
        </div>

        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{/if}


<div class="container">
    <h2 class="mb-3">Co pro vás máme?</h2>

    <div class="row">
        {foreach $featuredCategories as $category}
            <div class="col-xs-12 col-sm-12">
                <h4>{$category->title}</h4>
                <p>{$category->description}</p>
                <p><a class="btn btn-secondary" href="{plink Product:list, category => $category->categoryId}">Zobrazit nabídku produktů</a></p>
            </div>
        {/foreach}
    </div>
</div>

{/block}

{block pageScripts}

<script>
    $('.carousel').carousel()
</script>

{/block}