{varType App\Model\Entities\Product[] $products}
{varType App\Model\Entities\Category[] $categories}
{block content}



<div class="row">
    <aside class="col-lg-2 col-sm-3">
        <div class="card">
            <div class="card-header">
                Kategorie
            </div>

            <div class="list-group list-group-flush">
                <a href="{plink this category => null}" class="{if !$currentCategory}active{/if} list-group-item list-group-item-action">Vše</a>

                {foreach $categories as $category}
                    {* z hlediska SEO by bylo výrazně lepší, aby místo CategoryID zde byl nějaký string - webalizovaný *}
                    <a href="{plink this category => $category->categoryId}"  class="{if $currentCategory == $category->categoryId}active{/if} list-group-item list-group-item-action">{$category->title}</a>
                {/foreach}
            </div>
        </div>
    </aside>
    <section class="col">
        <h1 n:block="title" class="text-center">Nabízené produkty</h1>
        <article class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ml-2 mr-2">
            {foreach $products as $product}
                {control productCard $product}
            {/foreach}
        </article>
    </section>
</div>

