{varType App\Model\Entities\Product $product}
{snippet}
    <div class="col flex-shrink-0" style="min-width: 200px">
        <div class="card shadow-sm">
            {if $product->files}
                <div class="card-img-top text-center">
                    <img class="img-fluid mw-100" style="max-width: 300px; max-height: 300px" src="{$product->files[0]->getRelativePath()}" />
                </div>
            {/if}

            <div class="card-body">
                <h5 class="card-title"><a href="{plink Product:show url=>$product->url}" class="h4">{$product->title}</a></h5>
                <p class="card-text">{$product->description|truncate:250}</p>
                <p class="card-text">
{*                    {control "productCartForm-$product->productId"}*}
{*                        {control App\FrontModule\Components\ProductCartForm\ProductCartForm}*}
                </p>
                <div class="row d-flex justify-content-end " >
                    <div class="col d-flex flex-right justify-content-end pr-0">
                        {form "productCartForm-$product->productId"}
                            <div class="input-group mb-3">
                                <label class="align-self-center mb-0 mr-2 justify-content-start">Počet kusů: </label>
                                <input type="text" class="form-control" style="max-width:40px" n:name="count">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" n:name="ok"><i class="fa fa-shopping-cart"></i></button>
                                </div>
                            </div>
                        {/form}
                    </div>
                </div>
                <div class="d-flex justify-content-between row">
                    <em class="flex-left">
                        {$product->price|number:2} Kč
                    </em>
                    <div class="btn-group flex-right ">
                        <a href="{plink Product:show url=>$product->url}" class="btn btn-sm btn-outline-secondary">View</a>

                        {if $canEdit}
                            <a href="{plink :Admin:Product:edit $product->productId}" class="btn btn-sm btn-outline-secondary">Edit</a>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </div>
{/snippet}
