{varType App\Model\Entities\Product $product}
{snippet}
    <div class="col">
        <div class="card shadow-sm">
            {if $product->files}
                <div class="card-img-top text-center">
                    <img style="max-width: 300px; max-height: 300px" src="{$product->files[0]->getRelativePath()|thumbnail: 300, 300}" />
                </div>
            {/if}

            <div class="card-body">
                <h5 class="card-title"><a href="{plink Product:show url=>$product->url}" class="h4">{$product->title}</a></h5>
                <p class="card-text">{$product->description|truncate:250}</p>
                <p class="card-text">
                    <em>
                        {$product->price|number:2} Kč
                    </em>
                </p>
                <div class="d-flex flex-row-reverse">
                    <div class="btn-group">
                        <a href="{plink Product:show url=>$product->url}" class="btn btn-sm btn-outline-secondary">View</a>

                        {if $canEdit}
                            <a href="{plink :Admin:Product:edit $product->productId}" class="btn btn-sm btn-outline-secondary">Edit</a>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </div>
{/snippet}
