<table class="table-striped table">
    <tr>
        <th>Jméno</th>
        <td>{$address->name}</td>
    </tr>

    <tr>
        <th>Ulice a č. p.</th>
        <td>{$address->street}</td>
    </tr>

    <tr>
        <th>PSČ</th>
        <td>{$address->zip}</td>
    </tr>

    <tr>
        <th>Město</th>
        <td>{$address->city}</td>
    </tr>

    <tr>
        <th>Země</th>
        <td>{$address->country}</td>
    </tr>
</table>